<div class="container">
  
  <h1 class="text-center mt-3">Encuentra a tu profesor</h1>

  <div class="form-group mt-3">
    <label for="seleccion-rama">Rama:</label>
    <select class="form-control" id="seleccion-rama" [(ngModel)]="ramaSeleccionada">
      <option value="0">-Selecciona una rama-</option>
      <option *ngFor="let rama of ramas" [value]="rama.id">{{ rama.nombre }}</option>
    </select>
  </div>

  <div class="form-group mt-3">
    <label>Localización: {{ latitude }} {{ longitude }}</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Buscar en localización" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    <button class="btn btn-primary mt-2" (click)="obtenerUbicacion()">Usar mi ubicación</button>
  </div>

  <div class="form-group mt-3">
    <label for="filtro-distancia" class="form-label">Distancia máxima: {{ distanciaSeleccionada }} Kms</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="distancia-sin-limite" [checked]="limiteDistancia" (change)="limiteDistancia = !limiteDistancia">
      <label class="form-check-label" for="distancia-sin-limite">
        Sin límite de distancia
      </label>
    </div>
    <input type="range" class="form-range" id="filtro-distancia" min="1" max="500" [(ngModel)]="distanciaSeleccionada">
  </div>

  <div class="form-group mt-3">
    <button class="btn btn-primary" (click)="buscarProfesores()">Buscar profesor</button>
  </div>

  <div *ngIf="mostrarResultados">

    <div class="d-flex justify-content-center">
      <div class="btn-group mt-3" role="group" aria-label="mostrar">
        <button type="button" class="btn btn-primary" (click)="mostrarMapa = false">Listado</button>
        <button type="button" class="btn btn-primary" (click)="mostrarMapa = true">Mapa</button>
      </div>
    </div>

    <app-listado-profesores *ngIf="!mostrarMapa" [profesores]="profesores"></app-listado-profesores>
    <app-mapa-profesores *ngIf="mostrarMapa" [profesores]="profesores" [lat]="latitude" [lon]="longitude"></app-mapa-profesores>  
  </div>

</div>
